.section1
{
    grid-template-areas: "card1 card2"
                         "card1 card3";							 
}
.section1_content__one 
{
	width: 100%;
	grid-area: card2;
	
}
.section1_content__two
{	
	width: 100%;
	grid-area: card3;
	
	
}